<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="relative w-full h-screen overflow-hidden">
    
    <%- include('../../navbar') %>
    <div class="flex w-full h-full">
        <%- include('../../left_sidebar') %>
        <div class="p-5 w-full">
            <form action="" class="relative w-full flex gap-5" method="post">
                <input type="text" class="w-1/2 h-10 rounded-2xl border focus:border-2 outline-none px-4 font-nunito border-zinc-600 text-sm">
                <p class="absolute top-0 left-0 font-nunito w-fit bg-white px-1 text-sm font-bold translate-x-3 -translate-y-2">
                    Search here
                </p>
                <select name="" id="" class="transition-all duration-300 w-1/6 cursor-pointer outline-none rounded-2xl hover:bg-zinc-100 px-1"> 
                    <option value="">Username</option>
                    <option value="">Email</option>
                    <option value="">Nama</option>
                    <option value="">NIK</option>
                </select>
            </form>
            <hr class="my-3 opacity-0">
            <div class="flex w-full font-nunito font-bold text-sm text-zinc-900 items-center">
                <p class="w-1/5 italic">
                    Username <br>
                    <span class="italic text-xs font-medium text-zinc-700">
                        ID
                    </span>
                </p>
                <p class="w-1/5 italic">
                    Nama
                </p>
                <p class="w-1/5 italic">
                    Email <br>
                    <span class="italic text-xs font-medium text-zinc-700">
                        NIK
                    </span>
                </p>
                <p class="w-1/5 italic">
                    Photo's ID <br>
                    <span class="italic text-xs font-medium text-zinc-700">
                        Link
                    </span>
                </p>
                <p class="w-[100px] italic">
                    Points
                </p>
                <p class="w-[100px] italic">
                    
                </p>
            </div>
            <div id="main_content" class="relative w-full h-[500px] space-y-5 overflow-auto">
                <% for(let i = 1; i < 20; i++) { %>
                <div class="flex w-full font-nunito text-xs text-zinc-900 items-center gap-2 group hover:bg-zinc-100/20">
                    <p class="w-1/5">
                        ziyadzk <br>
                        <span class="text-zinc-500">
                            user_12k1j21k2j12
                        </span>
                    </p>
                    <p class="w-1/5">
                        Ziyad Jahizh K
                    </p>
                    <p class="w-1/5">
                        kakangtea74@gmail.com <br>
                        <span class="text-zinc-500">
                            3273301807030001
                        </span>
                    </p>
                    <p class="w-1/5">
                        photos_kjl12kj31lk23 <br>
                        <span class="text-zinc-500">
                            http://buckets/photos/id
                        </span>
                    </p>
                    <p class="w-[100px]">
                        1000
                    </p>
                    <p class="w-[100px] flex gap-2 items-center group-hover:opacity-100 opacity-0 transition-all duration-300">
                        <a href="/control/data/projects/edit" class="p-1 rounded-lg border text-zinc-800 hover:bg-zinc-800 hover:text-white transition-all duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 text-inherit" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V285.7l-86.8 86.8c-10.3 10.3-17.5 23.1-21 37.2l-18.7 74.9c-2.3 9.2-1.8 18.8 1.3 27.5H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM549.8 235.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4-71-71 29.4-29.4c15.6-15.6 40.9-15.6 56.6 0zM311.9 417L441.1 287.8l71 71L382.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z"/></svg>
                        </a>
                        <a href="" class="p-1 rounded-lg border text-red-800 hover:bg-red-800 hover:text-white transition-all duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 text-inherit" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </a>
                    </p>
                </div>
                <% } %>
            </div>
        </div>
        <div class="w-1/3 p-5 border-l">
            <h1 class="font-nunito font-bold text-2xl text-zinc-800">
                Sub pages
            </h1>
            <hr class="my-2 opacity-0">
             
        </div>
    </div>
    
    <!-- <script src="/js/script.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/js/control/data/projects/script.js"></script>
    
</body>
</html>