<nav class="w-full h-16 border-b-2 border-zinc-200 p-3 flex justify-between items-center px-24">
    <h1 class="font-nunito font-bold text-4xl tracking-tighter w-fit bg-clip-text text-transparent bg-gradient-to-r from-zinc-900 to-rose-600">
        Skill Shift
    </h1>
    <div class="flex items-center gap-5">
        <h1 class="font-nunito text-zinc-800">
            Welcome, <span class="font-bold">
                Ziyad
            </span>
        </h1>
        <button id="toggle_sidebar_kanan" class="ring ring-zinc-500 rounded-full hover:ring-rose-500">
            <img class="rounded-full w-10 h-10 object-cover object-center" src="https://i.pinimg.com/564x/76/7f/51/767f510ebca77da55a7f8ce0a660d088.jpg" alt="">
        </button>
    </div>
</nav>